table, td, tr, th {
    border: 3px solid pink;
    border-collapse: collapse;
    table-layout: fixed;
}

div.vertical {
	-ms-writing-mode: tb-rl; /* old syntax. IE */
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl; /* new syntax */
	transform: rotate(180deg);
}

canvas {
	display: block;
}